body {
    padding-top: 70px;
    padding-bottom: 80px;
    font-family: 'Open Sans', sans-serif;
}

.google-maps {
    position: relative;
    padding-bottom: 60%; /* This is the aspect ratio  */
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}


@media (min-width: 768px) {
  .narrowed {
    max-width: 730px;
    margin-right: auto;
    margin-left: auto;
  }
}

* {
    font-size: 15px;
    line-height: 1.7;
}

.jumbotron {
    /*background-color: rgba(246, 238, 220, 0.65);*/
    background-image: url('../img/paper-bg-light.jpg');
    color: #7a6d56;
}

.main-jumbo {
    background-color: #FFF;
    background-image: url('../img/beach-bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

nav.navbar {
    background-color: #f7ecde;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover
{
    background-color: #ebe0d4;
}

.btn-primary {
    background-color: #9bbdb8;
    border-color: #9bbdb8;
}

a.btn-primary:hover {
    background-color: #89aaa5;
    border-color: #89aaa5;
}

h1, h2, h3, h4 {
    /* color: #74ABB3;  */
    color: #89aaa5;
}

h1 {
    margin-bottom: 18px;
}

h2 {
    margin-top: 35px;
    margin-bottom: 18px;
}

h3 {
    margin-top: 35px;
    margin-bottom: 18px;
}

.navbar-brand {
    padding-top: 0px;
}


.auth-page {
    background-color: #f7ecde;
    background-image: url('../img/paper-bg-light.jpg');
}

.home-promo {
    margin-bottom: 40px;
}

.polaroid {
    margin-right: 30px;
    margin-bottom: 30px;
}
